@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong{
    color: #4ac9da;;
}
html,
body {
    
    position: relative;
    height: 100vh;
    width: 100vw;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    
    width: 100%;
    height: 100%;
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(3, 3, 3, 0.603);
}
#navigator_list{
    z-index: 100;
    position: absolute;
    margin-left: 65%;
    margin-top: -50px;
    float: right;
    width: 480px;
    height: 50px;
    background-color: rgba(65, 105, 225, 0);
}
#navigator_list .list_buttons{
    list-style-type: none;  
}
#navigator_list .list_buttons li{
    display: inline;
}

#navigator_list .list_buttons li a{
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
    text-decoration: none;
    height: 20px;
    width: 120px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5ch;
}

#navigator_list .list_buttons li a:hover{
    color: #333F6A;
    -webkit-transition:all .5s ease-in-out;
}
.logo_EA{
    margin-top: 23px;
    margin-left: 40px;
    z-index: 100;
    position: relative;
    width: 84px;
    height: 36px;
}
.bar_text{
    position: absolute;
    margin-left: 140px;
    margin-top: -37px;
    z-index: 120;
    width: 3px; 
    height: 30px;
    background-color: #333F6A;
}
.block_text{
    -webkit-transition:all .9s ease-in-out;
    margin-top: 27px;
    z-index: 120;
    height: 30px;
    margin-left: 25px;
    width: 500px;
    position: absolute;
    display: inline-block;

}
.block_text h1{
    color: beige;
    font-size: 90%;
}
.block_text p{
    margin-top: 2px;
    color: rgb(117, 117, 117);
    font-size: 75%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sections {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome,
.software,
.hardware,
.prototype {
    width: 100%;
    height: 100vh;
    padding: 0 80px;
}

.section_container {
    
    width: 1470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    background-size: 120%;
    background-image: url('https://i.ibb.co/QYbd78p/fondowelcome.jpg');
}

.software {
    background-size: 120%;
    background-image: url('https://i.ibb.co/6Fj52QK/fondosoftware.jpg');
}

.hardware {
    background-size: 120%;
    background-image: url('https://i.ibb.co/XJspx9W/fondohardware.jpg');
}

.prototype {
    background-color: #000;
}

.image {
    width: 500px;
}

.image > img {
    width: 100%;
}
.imagen {
    width: 950px;
}

.imagen > img {
    width: 100%;
}

.text {
    color: #fff;
    width: 550px;
    font-family: 'Encode Sans SC', sans-serif;
    text-align: left;
    font-weight: bolder;

}

.text > .title {
    font-family: 'Mukta', sans-serif;
    font-size: 42px; 
    font-weight: 100;
    margin-bottom: 50px;
}

.welcome > .section_container > .text {
    color: #fff;
}

.text > .description {
    font-size: 30px;
    font-weight: 100;
}

.software > .section_container > .image {
    order: 2;
    width: 500px;
}

.software > .text {
    color: #fff;
}

.prototype > .section_container > .text > .title {
    font-size: 45px;
}

.prototype > .section_container > .text > .title > span {
    font-weight: 500;
}

.prototype > .section_container > .text {
    color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, 
.swiper-container-vertical>.swiper-pagination-progressbar {
    position: absolute;
    left: 95%;
    top: 25%;
    height: 50%;

}
